.button {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 5px 5px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.button:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.button:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.button:active {
	background-color: #808080;
}
.button:disabled {
	background-color: rgb(112, 112, 112);
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}


input[type=text]{
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

input[type=color] {
    margin: 8px 0;
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}